<%= simple_form_for @match, :html => { :class => 'form-horizontal' } do |f| %>
	
	<!-- Players Checkbox List -->
	<%= f.association :players, 
		:as => :check_boxes, 
		:label_method => lambda { |player| "#{player.handle}"}, 
		:hint => '*Choose 2 Players', :class => 'players',
		:input_html => {:class => 'player'}
	%>
	
	<!-- Week Select Field -->
	<%= f.input :week, 
		:as => :select, 
		:collection => (1..10), 
		:include_blank => 'Choose a week...' 
	%>
	
	<div id="games">
		<% game_number = 1 %>
		<!-- Games -->
		<%= f.simple_fields_for :games do |builder| %>
			<%= render "game_fields", :f => builder, :game_number => game_number %>
			<% game_number = game_number + 1 %>
		<% end %>
	
		<%= link_to_games "Add Game", @match, f %>
	</div>
	<hr>
	<%= f.button :submit, :class => 'btn btn-primary' %>
<% end %>