<th>
	<%= f.input :game_number, :as => :hidden, :input_html => {:value => num} %>
	Game <%= num %>
</th>
<td>
	<%= f.association :map, :include_blank => 'Choose a map...', :label => false, :input_html => {:class => 'span2 map'}  %>
</td>
<% first = true %>
<%= f.simple_fields_for :games_players do |builder| %>
	<%= render "game_player", :f => builder, :player => first ? @match.p1 : @match.p2 %>
	<% if first %>
		<td>VS.</td>
		<% first = false %>
	<% end %>
<% end %>
<td>
	<%= f.input :video_link, :placeholder => 'Paste video code here...', :label => false, :input_html => {:class => 'span3'}  %>
</td>