<%- model_class = Match -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.pluralize %></h1>
</div>
	
<table class="table table-striped table-bordered">
  <thead>
	<tr class="centered">
		<th></th>
		<th colspan="2">Division A Matches</th>
		<th colspan="2">Division B Matches</th>
		<th>Byes</th>
	</tr>
  </thead>
  <tbody>
	<%	(1..10).each do |i| %>
		<%	next_week = Match.where("week = '#{i}'") %>
		<tr>
			<td><strong>Week <%= i %></strong></td>
			<% next_week.each do |match| %>
				<td>
					<%= link_to match.players[0].handle, player_path(match.players[0].id) %>
					vs
					<%= link_to match.players[1].handle, player_path(match.players[1].id) %>
					<br/><br/>
					<div><strong><%= match.state %></strong></div>
					<br/>
					<div>
						<%= link_to edit_match_path(match), :class => 'btn btn-primary btn-mini' do %>
							<i class="icon-edit"></i> Report Results
						<% end %>
		          		<%= link_to(
		                      match_path(match),
		                      :method => :delete,
		                      :confirm => t('.confirm', :default => t("helpers.links.confirm", :default => 'Are you sure?')),
		                      :class => 'btn btn-mini btn-danger') do %>
							  <i class="icon-trash"></i> Delete Match<% end %>
					</div>
				</td>
			<% end %>
			
			<% (1..(4 - next_week.length)).each do |i| %>
				<td><br/><br/>TBD<br/><br/>
					<%= link_to "New Match",
					            new_match_path,
					            :class => 'btn btn-mini btn-primary' %>
					
					</td>
			<% end %>
			
			<td>
				<ul>
				<% Match.byes(i).each_pair do |k,v| %>
					<li><%= link_to k, player_path(v) %></li>
				<% end %>
				</ul>
			</td>
		</tr>
	<% end %> 
  </tbody>
</table>

