<h1>Listing matches_players</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Match</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @matches_players.each do |matches_player| %>
  <tr>
    <td><%= matches_player.player_id %></td>
    <td><%= matches_player.match_id %></td>
    <td><%= matches_player.winner %></td>
    <td><%= link_to 'Show', matches_player %></td>
    <td><%= link_to 'Edit', edit_matches_player_path(matches_player) %></td>
    <td><%= link_to 'Destroy', matches_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Matches player', new_matches_player_path %>
