<p id="notice"><%= notice %></p>

<p>
  <b>Player:</b>
  <%= @matches_player.player_id %>
</p>

<p>
  <b>Match:</b>
  <%= @matches_player.match_id %>
</p>

<p>
  <b>Winner:</b>
  <%= @matches_player.winner %>
</p>


<%= link_to 'Edit', edit_matches_player_path(@matches_player) %> |
<%= link_to 'Back', matches_players_path %>
