<h1>Listing games_players</h1>

<table>
  <tr>
    <th>Player</th>
    <th>Match</th>
    <th>Race</th>
    <th>Winner</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @games_players.each do |games_player| %>
  <tr>
    <td><%= games_player.player_id %></td>
    <td><%= games_player.match_id %></td>
    <td><%= games_player.race_id %></td>
    <td><%= games_player.winner %></td>
    <td><%= link_to 'Show', games_player %></td>
    <td><%= link_to 'Edit', edit_games_player_path(games_player) %></td>
    <td><%= link_to 'Destroy', games_player, method: :delete, data: { confirm: 'Are you sure?' } %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Games player', new_games_player_path %>
