<!DOCTYPE html>
<html>
	<head>
		<title>The Charlottesville Starcraft League</title>
		<!--[if lt IE 9]>
		  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js" type="text/javascript"></script>
		<![endif]-->
		<%= stylesheet_link_tag    "application", :media => "all" %>
		<%= javascript_include_tag "application" %>
		<%= csrf_meta_tags %>
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
	</head>
	<body>
	  <!-- Nav Bar Partial-->
	  <%= render "/layouts/nav" %>

	  <div class="container">
		<!-- Flash Message Partial -->
		<%= render "/layouts/flash", :flash => flash %>
	  
	    <div class="row">
			<!-- Main Content -->
	      	<div class="span4"><%= render "/matches/recent" %></div>
			
			<!-- Main Content -->
	      	<div class="span5"><%= render "/messages/recent" %></div>
	
			<!-- Sidebar -->
			<div class="span3"><%= render "/layouts/about" %></div>		
		</div>
	</body>
</html>